@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

body {
    font-family: 'Pretendard';
}

.container {
    width: 1620px; margin: 0 auto;
    border: 1px solid #000;
}

header {
    height: 178px;
}
header .topset {
    display: flex; justify-content: space-between;
    border: 1px solid red;
}
header .langbox {
    display: flex; align-items: center; gap: 13px; color: #808080;
    border: 1px solid #000;
}
header .langbox a {
    padding: 10px 0; font-size: 14px; color: #808080;
    border: 1px solid #000;
}
header .langbox a.on {
    color: #05456e; font-weight: bold;
}
header h1 {
    margin-top: 20px;
}
header .baro {
    display: flex; gap: 25px; align-items: center;
    border: 1px solid #000;
}
header .baro a {
    padding: 10px 0; font-size: 14px; color: #808080;
}

.hero {
    height: 650px; background: #eee;
}

.section_box {}

footer {
    height: 225px; background: #d9d9d9;
}