@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

body {
    font-family: 'Pretendard';
}

.container {
    width: 84vw; margin: 0 auto;
}

header {
    height: 178px;
}
header .topset {
    display: flex; justify-content: space-between; 
    padding: 0 6.5vw;
}
    header .langbox {
        display: flex; align-items: center; gap: 13px; color: #808080;
    }
    header .langbox a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
    header .langbox a.on {
        color: #05456e; font-weight: bold;
    }
    header .langbox a:hover {
        color: #05456e; transition: 0.2s;
    }
    header h1 {
        margin-top: 20px;
    }
    header .baro {
        display: flex; gap: 25px; align-items: center;
    }
    header .baro a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
header nav .gnb {
    display: flex; justify-content: space-between;
}
header nav .gnb > li {
    position: relative;
    font-size: 20px; flex-grow: 1;
}
header nav .gnb > li:hover > a {
    font-size: 24px; font-weight: bold; transition: 0.2s;
}
header nav .gnb > li > a {
    display: flex; justify-content: center;
    color: #05456e; padding: 25px 40px; transition: 0.2s;
}

header nav .gnb .lnb {
    position: absolute; left: 0; top: 70%; box-shadow: 4px 6px 60px rgba(0,0,0,0.1);
    display: flex;
    width: 130%; background: #fff; padding: 49px 36px; opacity: 0; transition: 0.2s; visibility: hidden;
}
header nav .gnb > li:hover .lnb {
    opacity: 1; visibility: visible; transition: 0.2s; top: 90%;
}
header nav .gnb .lnb figure {
    display: flex; align-items: center;
    padding-right: 30px; border-right: 1px solid #000;
}
header nav .gnb .lnb figure img {}
header nav .gnb .lnb ul {
    display: flex; gap: 17px 0;
    flex-wrap: wrap; /* 크기를 넘어가는 자식은 아래로 떨어지게 */
    padding-left: 38px;
}
header nav .gnb .lnb ul li {
    width: 50%; font-size: 18px; text-align: center;
}
header nav .gnb .lnb ul li a {
    display: block;
    padding: 5px 0;
}

header nav .gnb li:last-child .lnb {
    right: 0; left: auto;
}

.hero {
    height: 650px; background: #eee;
}

.section_box {}

footer {
    height: 225px; background: #d9d9d9;
}