@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

body {
    font-family: 'Pretendard'; overflow-x: hidden;
}

.container {
    width: 84vw; margin: 0 auto;
}

header {
    height: 178px;
}
header .topset {
    display: flex; justify-content: space-between; 
    padding: 0 6.5vw;
}
    header .langbox {
        display: flex; align-items: center; gap: 13px; color: #808080;
    }
    header .langbox a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
    header .langbox a.on {
        color: #05456e; font-weight: bold;
    }
    header .langbox a:hover {
        color: #05456e; transition: 0.2s;
    }
    header h1 {
        margin-top: 20px;
    }
    header .baro {
        display: flex; gap: 25px; align-items: center;
    }
    header .baro a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
header nav .gnb {
    display: flex; justify-content: space-between;
}
    header nav .gnb > li {
        position: relative;
        font-size: 20px; flex-grow: 1;
    }
    header nav .gnb > li:hover > a {
        font-size: 22px; font-weight: bold; transition: 0.2s;
    }
    header nav .gnb > li > a {
        display: flex; justify-content: center;
        color: #05456e; padding: 25px 40px; transition: 0.2s;
    }

        header nav .gnb .lnb {
            position: absolute; left: 0; top: 80%; z-index: 10;
            display: flex;
            width: 130%; background: #fff; padding: 49px 30px; box-shadow: 4px 6px 60px rgba(0,0,0,0.1);
            opacity: 0; transition: 0.3s; visibility: hidden;
        }
        header nav .gnb > li:hover .lnb {
            top: 100%;
            opacity: 1; transition: 0.3s; visibility: visible;
        }
        header nav .gnb .lnb figure {
            display: flex; align-items: center;
            padding-left: 10px; padding-right: 38px; border-right: 1px solid #e5e5e5;
        }
        header nav .gnb .lnb ul {
            display: flex; flex-wrap: wrap; gap: 10px 0;
            padding-left: 10px;
        }
        header nav .gnb .lnb ul li {
            width: 50%; font-size: 18px; text-align: center;
        }
        header nav .gnb .lnb ul li a {
            display: block;
            padding: 8px 0; transition: 0.1s;
        }
        header nav .gnb .lnb ul li a:hover {
            font-weight: bold; transition: 0.1s;
        }

    header nav .gnb li:last-child .lnb {
        left: -50%;
    }

.hero {}
.hero ul {}
.hero ul li {
    position: relative;
}
.hero ul li figure {}
.hero ul li .textbox {
    position: absolute; top: 0; left: 0;
    transform: translate(229px, 239px);
    line-height: 180%;
}
.hero ul li .textbox strong {
    font-size: 40px; color: #fff; line-height: 150%;
}
.hero ul li .textbox p {
    font-size: 18px; color: #fff; margin-top: 20px;
}
.hero ul li .textbox a {
    display: inline-block; text-align: center;
    font-size: 20px; color: #fff; background: #F0620A; padding: 8px 26px; margin-top: 30px; border-radius: 6px; transition: 0.3s;
}
.hero ul li .textbox a:hover {
    background: #cf550a; transition: 0.3s;
}

.section_box {}

footer {
    height: 225px; background: #d9d9d9;
}