@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

body {
    font-family: 'Pretendard'; overflow-x: hidden;
}

.container {
    width: 84vw; margin: 0 auto;
}

header {
    height: 178px;
}
header .topset {
    display: flex; justify-content: space-between; 
    padding: 0 6.5vw;
}
    header .langbox {
        display: flex; align-items: center; gap: 13px; color: #808080;
    }
    header .langbox a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
    header .langbox a.on {
        color: #05456e; font-weight: bold;
    }
    header .langbox a:hover {
        color: #05456e; transition: 0.2s;
    }
    header h1 {
        margin-top: 20px;
    }
    header .baro {
        display: flex; gap: 25px; align-items: center;
    }
    header .baro a {
        padding: 10px 0; font-size: 14px; color: #808080;
    }
header nav .gnb {
    display: flex; justify-content: space-between;
}
header nav .gnb > li {
    position: relative;
    font-size: 20px; flex-grow: 1;
}
header nav .gnb > li:hover > a {
    font-size: 22px; font-weight: bold; transition: 0.2s;
}
header nav .gnb > li > a {
    display: flex; justify-content: center;
    color: #05456e; padding: 25px 40px; transition: 0.2s;
}



.section_box {}

footer {
    height: 225px; background: #d9d9d9;
}